* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}


.hero{
    background:url(okeykat-w6elADh_jww-unsplash1.jpg) ;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
}
.above_line{
    padding-top: 0px;
    display: flex;
    justify-content: space-between;
    
    padding-bottom: 0px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    opacity: 0.8;
    
}
.above_line img{
    
    padding-left: 40px;
    width: 120px;
    padding-top: 0px;
}
.above_line h1{
    
    padding-top: 10px;
    font-size: 35px;
    font-weight: 900;
    font-family:'poppins';
    color: aliceblue;
}
.above_line h2{
    padding-top: 15px;
    padding-right: 100px;
    font-size: 13px;
    font-family:'poppins';
    color: aliceblue;
    text-align: center;
}
.navigation_bar{
    margin-top: 0px;
    margin-left: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 100px;
    
}
.navigation_bar ul{
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, .1);
    border-radius: 20px;
   
}
.navigation_bar ul li{
    display: inline-flex;
    padding: 10px;}
.navigation_bar ul li a{
        padding-left: 10px;
        padding-right: 10px;
        text-decoration: none;
        font-size: 18px;
        color: aliceblue;}

.reandde{
    
    display: flex;
    justify-content: space-between;
    padding-right: 20px;  
    
    
    
}
.Register-btn{
    margin-top: 10px;
   
    text-decoration: none;
    font-size: 18px;
    margin: 50px;
    border: solid 3px whitesmoke;
    padding: 7px 20px;
    border-radius: 40px;
    position: absolute;
   right: 15%;
   top:50px ;
   cursor: pointer;
}



.Detais-btn{
    margin-top: 10px;
    text-decoration: none;
    font-size: 18px;
    margin: 50px;
    border: solid 3px whitesmoke;
    padding: 7px 20px;
    border-radius: 40px;
    position: absolute;
   right: 5%;
   top: 50px;
   cursor: pointer;
}
.Register-btn a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    color: aliceblue;
    cursor: pointer;
}
.Detais-btn a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    color: aliceblue;
    cursor: pointer;
}

.line{
    position: absolute;
    width: 100%;
    background-color: #85AECC;
    height: 50px;
    
    padding-bottom: 0px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    opacity: 0.8;
}
.content{
    margin-top: 7%; 
    max-width: 600px;   
    margin-left: 1%;
}
.content h1{
    padding-bottom: 10px;
    font-size: 50px;
    color: #ffffff;
    font-family: 'poppins';
    text-align: center;
    
}
.content p {
    margin: 10px 0 30px;
    color: #ffffff;
    font-size: 20px;
    font-family: 'poppins';
    font-weight: 350;
    text-align: center;
}
.fontimage img{
    position: absolute;
    width: 700px;
    bottom: 0;
    right: 0;
}
.follow{
    margin-left: 10%;
    max-width: 200px;
}
.follow h5{
    font-size: 20px;
    text-align: center;
    

}
.icon{

    display: flex;
    
    justify-content: space-around;
}
.icon img{
    width: 30px;
}
.second_page{
    
    width: 100%;
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    padding: 10px 10%;
    position: relative;
}
.feature-icon img{
    width: 50px;
}
.helth{margin-top: 20px;
    text-align: center;
}
.helth h2{
    font-family: 'poppins';
    font-weight: 900;
    color: #20705C;
    font-size: 30px;
}
.feature{
    max-width: 500px;
    margin-left: 50px;
    margin-top: 30px;
 }
 .feature h1{
    font-size: 20px;
    font-weight: 400;
    color: #301c1c;
}
.feature p{
    font-size: 15px;
    font-weight: 300;
    color: #172419;
    text-align: center;

}
.feature-icon{
display: flex;}

.feature-section{
    margin-bottom: 15px;
    padding-bottom: 20px;
}
.feature-icon h1{
    padding-left: 30px;
    padding-top: 10px;
    font-weight: 600;


}
.big_feature{
    display: flex;
    margin-left: 30px;
}
.feature_im{
    position: absolute;
    right: 12%;
    margin-top: 30px;
    
}
.feature_im img{
    width: 300px;
    border-radius: 30px;

}
.thired_page{
    background:url(26807.jpg) ;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
}
.about{
    padding-top: 35px;
    text-align: center;

}
.about p{
    font-family: 'poppins';
    margin-bottom: 20px;
    color: #090d0b;
}
.about h1{
    font-family: 'poppins'; 
    color: #385346;
    font-size: 40px;
}
.servises h1{
    font-family: 'poppins'; 
    color: #385346;
    font-size: 40px;
    text-align: center;

}
.servises ul li{
    display: inline-flex;
    padding-left: 25px;
    padding-right: 25px;
  
}
.servisa-im{
    margin-top: 30px;
    justify-content: space-around;
    display: flex;
}
.servises ul li img{
    width: 200px;
    border-radius:20px ;
}
.Forth_page{
    background:linear-gradient(rgba(0, 0, 0, 0.5), #1c1c1c),url(audio-headset-used-by-call-center-agents-help-clients-telecommunication-with-technology-empty-customer-service-workstation-with-headphones-computers-modern-gadgets.jpg) ;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    
}
.contactUS{
    padding-top: 40px;
    text-align: center;
}
.contactUS h1{
    color: aliceblue;
    font-family: 'poppins';
    font-weight: 800;
    font-size: 40px;
}
.contactUS p{
    color: aliceblue;
    font-family: 'poppins';
    font-size: 15px;
}
.contact img{
    width: 50px;

}
.dot{
    width: 55px;
    height: 55px;
    background-color: #ffffff;
    border-radius: 50%;
    

}
.contact{
    display: flex;
    margin-top: 40px;
    margin-left: 15%;
}
.contact h1{
    color: aliceblue;
    font-family: 'poppins';
}
.contact p{
    color: aliceblue;
    font-family: 'poppins';

}
.comment-section {
    
    width: 200px;
    
    background-color: #d3cece;
    padding: 20px;
    border-radius: 8px;
   
}
.fullcontact{
    display: flex;
    justify-content: space-around;
}
